/* importing inter font from google font api */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* tailwind css added to the project */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: normal;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  z-index: 1;
  background: #060113;
  /* overflow: hidden; */
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  @apply scroll-smooth snap-y;

  /* font-size: calc(16px + 6 * ((100vw - 320px) / 680)); */

  /* background: linear-gradient(45deg, #060113, #0c0324); */
}

.circle {
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background: rgb(200, 0, 226);
  /* background: rgb(0, 24, 70); */
  z-index: 0;
  filter: blur(150px);
  /* display: none; */
}
.circle:nth-child(1) {
  top: -50px;
  left: -50px;
}
.circle:nth-child(2) {
  bottom: -50px;
  right: -50px;
}
/* .circle:nth-child(3) {
  bottom: 100px;
  left: calc(100vw - 60%);
} */
/* .section-main {
  max-width: 1280px;
  margin: 0 auto;
} */
section {
  border-bottom: 0.5px solid #b8b8b8;

  @apply px-4;
}
